# Entornos virtuales
backend/.venv/
backend/venv/
backend/env/
backend/__pycache__/
backend/*.pyc

# Node modules
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Bases de datos locales y archivos de datos (excepto muestras)
backend/data/*.sqlite
backend/data/*.sqlite-journal
# backend/data/uploads/
# backend/data/imagenes/
!backend/data/sample_data/
!backend/data/catalogo_momias.json
!backend/data/morro1_maestro.json

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*